var config = {
  "port": 8443
};

{#config.contextPath = '/keepass/';#}

// optional: configure basic authentification
//
//config.basicAuth = {
//  "enabled": false,
//  "username": 'username',
//  "password": 'password'
//};

module.exports = config;
